@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: main-font;
    src: url("../fonts/Acme-Regular.ttf");
}

@font-face {
    font-family: p-font;
    src: url("../fonts/Rubik-Light.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../fonts/Amble-Bold.ttf");
}

h1 {
    font-family: main-font;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 3px 5px 3px #040427;
}

.topnav a {
    float: left;
    color: black;
    font-family: main-font;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: white;
    background-color: black;
    -moz-box-shadow: 0 0 10px #9d9898;
    -webkit-box-shadow: 0 0 10px #9d9898;
    box-shadow: 0 0 10px #9d9898;
}

.topnav a.active {
    color: white;
    background-color: black;
    -moz-box-shadow: 0 0 10px #9d9898;
    -webkit-box-shadow: 0 0 10px #9d9898;
    box-shadow: 0 0 10px #9d9898;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

.heading {
    font-family: main-font;
    text-align: center;
    height: 70px;
    color: black;
    padding-top: 20px;
    align-items: center;
}

h2,
p {
    text-align: center;
    font-size: x-large
}

h2 {
    font-family: heading-font;
}

p {
    font-family: p-font;
    text-align: justify;
}

img {
    width: auto;
    height: auto;
}

img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

section {
    border: 4px solid #040427;
    margin: 6%;
    margin-top: 2%;
    padding: 2%;
    transition: 2s;
}

section:hover {
    background-color: yellow;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    background-color: black;
}

footer h1 {
    font-family: 'Big Shoulders Text', cursive;
}

footer #footerul {
    list-style-type: none;
    padding-left: 150px;
    padding-top: 8px;
}

footer #footerul .footerli {
    padding-right: 10px;
    float: left;
}

footer #footerul .footerli i {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.footer-heading {
    color: white;
}

.footerli:hover {
    transform: scale(1.2);
}

/* Responsive (for tablet) */
@media only screen and (max-width: 1028px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
        color: black;
        background-color: #8e8989
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .topnav a.active {
        background-color: black;
        color: white;
    }

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section {
        width: 70%;
        justify-content: center;
        align-self: center;
        margin: 2%;
    }

    img {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 20px;
    }

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 50%;
    }

    footer #footerul {
        padding-left: 0px;
    }
}

/* Responsive (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
        color: black;
        background-color: #8e8989
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .topnav a.active {
        background-color: black;
        color: white;
    }

    section {
        margin: 2%;
    }

    img {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: large;
    }

    p {
        font-size: 16px;
    }

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 50%;
    }
}
