@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {
    margin: 0px;
}

@font-face {
    font-family: main-font;
    src: url("../fonts/Acme-Regular.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../fonts/Amble-Bold.ttf");
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 3px 5px 3px #040427;
}

.topnav a {
    float: left;
    color: black;
    font-family: main-font;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: white;
    background-color: black;
    -moz-box-shadow: 0 0 10px #9d9898;
    -webkit-box-shadow: 0 0 10px #9d9898;
    box-shadow: 0 0 10px #9d9898;
}

.topnav a.active {
    color: white;
    background-color: black;
    -moz-box-shadow: 0 0 10px #9d9898;
    -webkit-box-shadow: 0 0 10px #9d9898;
    box-shadow: 0 0 10px #9d9898;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

h1 {
    font-family: main-font;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.heading {
    font-family: main-font;
    text-align: center;
    height: 70px;
    color: black;
    padding-top: 20px;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-gap: 14px;
    margin: 2%;
    grid-template-areas:
        "trek   rafting   uttarakhand"
        "diving balloning bashing"
        "climb  skiing    giant";
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
}

figure {
    height: 310px;
    font-size: 12px;
    color: yellow;
}

.wrapper img {
    width: 100%;
    height: 300px;
    padding: 1%;
    border: 2px solid #040427;
}

figcaption {
    color: yellow;
    position: relative;
    top: -70px;
    font-size: x-large;
    background-color: hsla(120, 60%, 70%, 0.3);
    font-family: heading-font;
    text-align: center;
    padding: 2px;
}

.trek {
    grid-area: trek;
}

.rafting {
    grid-area: rafting;
}

.uttarakhand {
    grid-area: uttarakhand;
}

.diving {
    grid-area: diving;
}

.balloning {
    grid-area: balloning;
}

.bashing {
    grid-area: bashing;
}

.climb {
    grid-area: climb;
}

.skiing {
    grid-area: skiing;
}

.giant {
    grid-area: giant;
}

figure:hover {
    border-radius: 40px;
    filter: drop-shadow(8px 8px 10px yellow);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

img:hover {
    border-radius: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    background-color: black;
}

footer h1 {
    font-family: 'Big Shoulders Text', cursive;
}

footer #footerul {
    list-style-type: none;
    padding-left: 150px;
    padding-top: 8px;
}

footer #footerul .footerli {
    padding-right: 10px;
    float: left;
}

footer #footerul .footerli i {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.footer-heading {
    color: white;
}

.footerli:hover {
    transform: scale(1.2);
}

/* Responsive (for tablet) */
@media only screen and (max-width: 1028px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
        color: black;
        background-color: #8e8989
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .topnav a.active {
        background-color: black;
        color: white;
    }

    .wrapper {
        display: grid;
        grid-gap: 14px;
        margin: 2%;
        margin-right: 2%;
        margin-left: 2%;
        border: 4px solid white;
        grid-template-areas:
            "trek        rafting"
            "uttarakhand diving"
            "balloning   bashing"
            "climb       skiing"
            "giant       giant";
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-columns: 49% 49%;
    }

    figure {
        height: 280px;
    }

    .wrapper img {
        width: 100%;
        height: 260px;
        padding: 1%;
        border: 2px solid #040427;
    }

    figcaption {
        color: yellow;
        position: relative;
        top: -70px;
        font-size: large;
        background-color: hsla(120, 60%, 70%, 0.3);
        font-family: heading-font;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        padding: 2px;
    }

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 50%;
    }
}

/* Responsive (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
        color: black;
        background-color: #8e8989
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .topnav a.active {
        background-color: black;
        color: white;
    }

    .wrapper {
        display: grid;
        grid-gap: 14px;
        margin: 2%;
        border: 4px solid white;
        grid-template-areas:
            "trek"
            "rafting"
            "uttarakhand"
            "diving"
            "balloning"
            "bashing"
            "climb"
            "skiing"
            "giant";
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: 1fr;
    }

    figcaption {
        color: yellow;
        position: relative;
        top: -70px;
        font-size: large;
        background-color: hsla(120, 60%, 70%, 0.3);
        font-family: heading-font;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
        padding: 2px;
    }

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 50%;
    }
}
